body {
    text-align: left;
    margin: 0px;
}

header {
    background: #00177f;
    color: white;
    font-family:verdana;
    padding: 5px 0px 5px 10px;
}

header h1 {
    margin:0px;
    padding: 0px 0px 5px 0px;
}

nav ul {
    
    margin:0px;
}
nav ul li {
    border: 2px solid;
    border-radius: 99px;
    list-style-type: none;
    display: inline-block;
    background: #007f21;
    padding: 5px 10px 5px 10px;
    
}
nav ul li a {
    
    color:white;
}
p {
    color:white;
    background:#00177f;
    padding: 5px;
}
.Members {
    color:white;
    background:#00177f;
    padding:10px;
    margin:0px;
}
.StoreListings {
    color:white;
    background:#00177f;
    padding:10px;
    margin:0px;
}
a {
    color:white;
    text-decoration: none;
}
.NewsLetterLinks {
    color:white;
    background:#00177f;
    padding:10px;
    margin:0px;
}
nav h1 {
    text-align: left;
}
.middle {
    text-align: center;
}
.news {
    
    background:#00177f;
}